<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js">

    <!-- / JS Files  -->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jQuery/jquery-2.1.1.js}"></script>

    <!-- Theme Functions -->
    <script th:src="@{/assets/js/functions.js}"></script>

    <!-- Caption Effects Plugin -->
    <script th:src="@{/assets/CaptionHoverEffects/js/modernizr.custom.js}"></script>
    <script th:src="@{/assets/CaptionHoverEffects/js/toucheffects.js}"></script>

    <!-- \ JS Files  -->
</div>
</html>